<div class="container">
  <h1>登入</h1>

  <%= form_for(@user, url: sign_in_sessions_path) do |f| %>
  <div class="row mb-3">
    <div class="col">
      <%= f.label :email, class: "form-label" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col">
      <%= f.submit "登入", class: "btn btn-dark" %>
    </div>
  </div> 
<% end %>
</div>