<div class="container">
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to '登出', sign_out_sessions_path, method: 'delete' %>
  <% else %>
    <%= link_to '註冊', sign_up_users_path %> |
    <%= link_to '登入', sign_in_sessions_path %>
  <% end %>

  <h1 class="bg-green-500">餐廳列表</h1>

  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">標題</th>
        <th scope="col">電話</th>
        <th scope="col">動作</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.title %></td>
          <td><%= restaurant.tel %></td>
          <td class="d-flex">
            <%= link_to "檢視", restaurant_path(restaurant), class: "btn btn-dark me-3" %>
            <%= link_to "編輯", edit_restaurant_path(restaurant), class: "btn btn-dark me-3" %>
            <%
              # "data-method": "delete", "data-confirm": "確定刪除？"
              # = data: {method: "delete", confirm: "確定刪除？"}
            %>
            <%= link_to "刪除", restaurant_path(restaurant), data: {method: "delete", confirm: "確定刪除？"}, class: "btn btn-outline-danger me-3" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '新增餐廳', new_restaurant_path %>
</div>