<div class="container">
  <h1>餐廳資料</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="col">餐廳名稱</th>
        <td><%= @restaurant.title %></td>
      </tr>
      <tr>
        <th scope="col">電話</th>
        <td><%= @restaurant.tel %></td>
      </tr>
      <tr>
        <th scope="col">Email</th>
        <td><%= @restaurant.email %></td>
      </tr>
      <tr>
        <th scope="col">地址</th>
        <td><%= @restaurant.address %></td>
      </tr>
      <tr>
        <th scope="col">描述</th>
        <td><%= @restaurant.description %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "回餐廳列表", restaurants_path, class: "btn btn-outline-dark" %>
</div>

